<script>
document.addEventListener('DOMContentLoaded', function() {
  var quantitySelector = document.querySelector('.quantity-selector');
  var productForm = document.querySelector('product-form');
  var productPrice = {{ product.price | json }};

  // Initially hide the quantity selector to avoid flickering
  quantitySelector.style.visibility = 'hidden';

  var allOptions = quantitySelector.querySelectorAll('.quantity-option');
  var mostPopularOption = quantitySelector.querySelector('.quantity-option .most-popular');

  allOptions.forEach(function(option) {
    option.classList.remove('active');
  });

  var defaultOption;
  if (mostPopularOption) {
    defaultOption = mostPopularOption.closest('.quantity-option');
  } else {
    defaultOption = allOptions[0];
  }

  defaultOption.classList.add('active');
  var defaultInput = defaultOption.querySelector('input[type="radio"]');
  defaultInput.checked = true;

  var defaultQuantity = defaultOption.dataset.quantity;
  document.getElementById('hiddenQuantityInput').value = defaultQuantity;

  // Show the quantity selector after initialization
  quantitySelector.style.visibility = 'visible';

  // Listener for changes
  quantitySelector.addEventListener('change', function(e) {
    if (e.target.tagName === 'INPUT') {
      var activeOption = quantitySelector.querySelector('.quantity-option.active');
      if (activeOption) {
        activeOption.classList.remove('active');
      }

      var selectedOption = e.target.closest('.quantity-option');
      selectedOption.classList.add('active');

      var quantity = parseInt(selectedOption.dataset.quantity);
      var price = selectedOption.dataset.price || productPrice;
      var totalPrice = quantity * price;
      var compareAtPrice = productPrice * quantity;
      var savedAmount = compareAtPrice - totalPrice;

      document.getElementById('hiddenQuantityInput').value = quantity;
      selectedOption.querySelector('.total-price').textContent = Shopify.formatMoney(totalPrice, {{ shop.money_format | json }});
      selectedOption.querySelector('.saved-amount').textContent = Shopify.formatMoney(savedAmount, {{ shop.money_format | json }});

      var quantityInput = productForm.querySelector('.quantity__input');
      if (quantityInput) {
        quantityInput.value = quantity;
        quantityInput.dispatchEvent(new Event('change', { bubbles: true }));
      }

      var variantId = productForm.querySelector('[name="id"]').value;
      var sectionId = productForm.dataset.section;
      publish(PUB_SUB_EVENTS.variantChange, {
        data: {
          sectionId: sectionId,
          variant: {
            id: variantId
          }
        }
      });
    }
  });
});
</script>
<style>
  .quantity-selector {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 25px;
  }

  .quantity-option.active {
    background-color: rgba(var(--color-foreground), .1);
    border-color: rgba(var(--color-foreground));
  }

  .quantity-option {
    padding: 15px 20px; /* Increased padding */
    border: 2px solid rgba(var(--color-foreground), .15);
    border-radius: 10px;
    position: relative;
  }

  .quantity-option .most-popular {
    position: absolute;
    font-weight: bold;
    padding: 5px;
    background-color: rgb(var(--color-foreground));
    color: rgb(var(--color-button-text));
    font-weight: 700;
    font-size: 15px;
    top: -1rem;
    right: -1rem;
    transform: rotate(3deg);
    margin: 0;
    padding: 0 .5em;
    border-radius: .2em;
  }
    @keyframes easeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    .quantity-selector {
      animation: easeIn 1s forwards;
    }

  .quantity-option input[type='radio'] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    opacity: 0;
  }

  .quantity-option label {
    cursor: pointer;
    position: relative;
    padding-left: 30px; /* adjust for proper alignment */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .quantity-option label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    box-sizing: border-box;
  }

  .quantity-option input[type='radio']:checked + label:before {
    background: rgba(var(--color-foreground), 1);
    border-color: rgba(var(--color-foreground), 1);
  }

  .quantity-option h3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .quantity-option p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 22px;
  }

  .quantity-option p strong {
    font-size: 18px;
  }

  .quantity-breaks__title {
    margin: 0;
    font-size: 1.4rem;
    line-height: 1;
    column-gap: 10px;
    margin-bottom: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .quantity-breaks__title span:nth-of-type(1),
  .quantity-breaks__title span:nth-of-type(3) {
    display: block;
    height: 2px;
    flex-grow: 1;
    background: #000;
  }
</style>

<div class="quantity-selector">
  <h3 class="quantity-breaks__title flex-center center">
    <span></span>
    <span>GET MORE, SAVE MORE</span>
    <span></span>
  </h3>
  <input type="hidden" name="quantity" id="hiddenQuantityInput" value="1">

  {% for i in (1..4) %}
    {% assign heading = 'option' | append: i | append: '_heading' %}
    {% assign quantity = 'option' | append: i | append: '_quantity' %}
    {% assign price_setting = 'option' | append: i | append: '_price' %}
    {% assign compare_setting = 'option' | append: i | append: '_compare_at_price' %}

    {% if block.settings[heading] != blank %}
      {% comment %} Use product price if settings are not configured {% endcomment %}
      {% if block.settings[price_setting] == blank %}
        {% assign base_price = product.price | divided_by: 100.0 %}
        {% assign qty = block.settings[quantity] | times: 1.0 %}
        
        {% comment %} Auto calculate discount based on quantity {% endcomment %}
        {% if qty == 1 %}
          {% assign discount_percent = 0 %}
        {% elsif qty == 2 %}
          {% assign discount_percent = 9 %}
        {% elsif qty == 3 %}
          {% assign discount_percent = 13 %}
        {% elsif qty >= 4 %}
          {% assign discount_percent = 16 %}
        {% endif %}
        
        {% assign discounted_unit = base_price | times: 100 | minus: discount_percent | divided_by: 100 %}
        {% assign final_total = discounted_unit | times: qty | times: 100 %}
        {% assign regular_total = base_price | times: qty | times: 100 %}
        {% assign saved = regular_total | minus: final_total %}
      {% else %}
        {% comment %} Use manual settings if provided {% endcomment %}
        {% assign final_total = block.settings[price_setting] | times: 100 %}
        {% assign regular_total = block.settings[compare_setting] | times: 100 %}
        {% assign saved = regular_total | minus: final_total %}
        {% assign discounted_unit = final_total | divided_by: block.settings[quantity] | divided_by: 100 %}
      {% endif %}

      <div
        class="quantity-option {% if forloop.first %}active{% endif %}"
        data-quantity="{{ block.settings[quantity] }}"
        data-price="{{ discounted_unit }}"
      >
        {% if block.settings.most_popular == block.settings[heading] %}
          <span class="most-popular">MOST POPULAR</span>
        {% endif %}
        <input
          type="radio"
          id="option{{ i }}"
          name="quantity-option"
          {% if block.settings.most_popular == block.settings[heading] %}
            checked
          {% endif %}
        >
        <label for="option{{ i }}">
          <div>
            <h3>{{ block.settings[heading] }}</h3>
            <p>You save {{ saved | money }}</p>
          </div>

          <div>
            <p>
              <strong>{{ final_total | money }}</strong>
            </p>
            {% if saved > 0 %}
              <p>
                <strike>{{ regular_total | money }}</strike>
              </p>
            {% endif %}
          </div>
        </label>
      </div>
    {% endif %}
  {% endfor %}
</div>